<div class='wrapper'>
  {{! Login }}
  <h2>Log In</h2>
  <div class='auth-form-wrapper'>
    <form action='/auth/login' method='POST'>
      <div>
        <label>
          Username
          <input type='text' name='username' placeholder='Your username' />
        </label>
      </div>
      <div>
        <label>
          Email
          <input type='email' name='email' placeholder='Your email' />
        </label>
      </div>
      <div>
        <label>
          Password
          <input type='password' name='password' placeholder='Your password' />
        </label>
      </div>

      <button class='button' type='submit'>Log In</button>

      {{#if errorMessage}}
        <p class='error'>{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
  <p><b>No account? <a class='login-a' href='/auth/signup'> Create One!</a></b>
  </p>
</div>