<div class='wrapper'>
  {{! Sign up }}
  <div class="auth-form">
    <h2>Sign Up</h2>
    <form action='/auth/signup' method='POST'>

      <label>
        Username
        <input type='text' name='username' placeholder='Your username' />
      </label>

      <label>
        Email
        <input type='email' name='email' placeholder='Your email' />
      </label>

      <label>
        Password
        <input type='password' name='password' placeholder='Your password' />
      </label>

      <button class='button' type='submit'>Sign Up</button>

      {{#if errorMessage}}
        <p class='error'>{{errorMessage}}</p>
      {{/if}}
    </form>
    <br />
    <a href='/index'>Return to main menu</a>
  </div>

</div>