<div class='about wrapper'>
  {{! Sidebar }}
  <aside class='sidebar'>
    <div class='logo'>
      <a href='/index'><img
          src='/images/ironhack-symbol.png'
          alt='logo'
        /></a><h2>Hack AfterHours</h2>
    </div>
    <ul class='links'>
      <h4>Home</h4>
      <li>
        <span class='material-symbols-outlined'>dashboard</span>
        <a href='/about'>About</a>
      </li>
      <li>
        <span class='material-symbols-outlined'>share</span>
        <a href='/contacts'>Contacts</a>
      </li>
      <hr />
      <h4>Categories</h4>
      <li>
        <span class='material-symbols-outlined'>church</span>
        <a href='/cultureSpots'>Culture Spots</a>
      </li>
      <li>
        <span class='material-symbols-outlined'>fastfood</span>
        <a href='/fooddrinkSpots'>Food and Drink Spots</a>
      </li>
      <li>
        <span class='material-symbols-outlined'>water_lux</span>
        <a href='/leisureSpots'>Leisure Spots</a>
      </li>
      <hr />
      <h4>My Account</h4>
      <li>
        <span class='material-symbols-outlined'>person</span>
        <a href='/profile'>My Profile</a>
      </li>
      <li>
        <span class='material-symbols-outlined'>person_add</span>
        <a href='/auth/signup'>Signup</a>
      </li>
      <li>
        <span class='material-symbols-outlined'>login</span>
        <a href='/auth/login'>Login</a>
      </li>
      <li class='logout-link'>
        <span class='material-symbols-outlined'>logout</span>
        <a href='/auth/logout'>Logout</a>
      </li>
    </ul>
  </aside>

  {{! Content about }}
  <h2>About</h2>
  <br />
  <h4>About Our Evening Adventures Guide</h4>

  <p>Welcome to our guide for making the most of your evenings after leaving
    your coding bootcamp near Terreiro do Paço, Lisbon. After a productive day
    of coding and learning, it's time to unwind and explore the city's vibrant
    atmosphere. This guide is designed to help you discover a variety of
    activities and experiences that will transform your evenings into memorable
    and enjoyable moments.</p>
  <br />
  <h4>Discover the Best of After-Hours</h4>

  <h5>Bars and Nightlife</h5>

  <p>Discover a world of relaxation and camaraderie at local bars and social
    hubs. Whether you're seeking a cozy ambiance for deep conversations or a
    lively atmosphere for celebration, you'll find a diverse array of bars to
    suit your mood.</p>
  <br />
  <h5>Dining and Restaurants</h5>

  <p>Explore a diverse array of dining options, from local eateries with
    authentic flavors to upscale restaurants that offer a unique culinary
    experience.</p>
  <br />
  <h5>Cultural Exploration</h5>

  <p>Immerse yourself in the local culture by exploring museums, galleries,
    performances, and events that showcase the creativity and vibrancy of your
    city.</p>
  <br />
  <h5>Leisure and Relaxation</h5>

  <p>Find ways to recharge and indulge in leisure activities that cater to your
    interests, whether it's outdoor adventures, wellness pursuits, or simply
    unwinding with like-minded individuals.</p>
  <br />
  <h4>How to Use This Guide</h4>

  <p>Our guide is organized into easy-to-navigate sections, making it simple to
    find activities that align with your preferences. Each section provides an
    overview of the different options available and offers a brief description
    of what you can expect. You'll also find links to more detailed information,
    including locations, hours of operation, and additional resources.</p>
  <br />
  <h4>Contributing to the Guide</h4>

  <p>We're committed to keeping our guide up-to-date and comprehensive. If you
    come across a new hotspot, event, or activity that you think should be
    included, we encourage you to share it with us. Together, we can create a
    dynamic resource that benefits everyone in the coding community.</p>
  <br />
  <h4>Get Started!</h4>

  <p>Ready to embark on a journey of exploration and enjoyment? Dive into our
    guide and discover a world of exciting possibilities that await you after
    6pm. Whether you're seeking a relaxing evening with friends or a chance to
    expand your horizons, our guide has something for everyone.</p>

  <p>Enjoy your evening adventures, and happy exploring!</p>
  <br />
  <a href='/index'>Return to main menu</a>
</div>