<div class='about wrapper'>
  {{! Content of Contacts }}
  <h2>Contacts</h2>
  <br />
  <div class='container mt-4'>
    <div class='contacts-card'>
      <div class='card' style='width: 18rem'>
        <img class='card-img-top' src='/images/rita.jpg' alt='Rita Saraiva' />
        <div class='card-body'>
          <h5 class='card-title'>Rita Saraiva</h5>
          <p><i>Web Developer</i></p>
          <a href='https://www.linkedin.com/in/rita-saraiva/'><i
              class='fa-brands fa-linkedin'
            ></i>
            Connect on LinkedIn</a><br />
          <a href='https://github.com/saraiva-rita'><i
              class='fa-brands fa-github'
            ></i>
            Check my work</a>
        </div>
      </div>
      <div class='card' style='width: 18rem'>
        <img class='card-img-top' src='/images/bruno.jpeg' alt='Bruno Cunha' />
        <div class='card-body'>
          <h5 class='card-title'>Bruno Cunha</h5>
          <p><i>Web Developer</i></p>
          <a href='https://www.linkedin.com/in/brunorcunha3000/'><i
              class='fa-brands fa-linkedin'
            ></i>
            Connect on LinkedIn</a><br />
          <a href='https://github.com/brcunha3000'><i
              class='fa-brands fa-github'
            ></i>
            Check my work</a>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>