<div class='about wrapper'>
  {{! Sidebar }}
  <aside class='sidebar'>
    <div class='logo'>
      <a href='/index'><img
          src='/images/ironhack-symbol.png'
          alt='logo'
        /></a><h2>Hack AfterHours</h2>
    </div>
    <ul class='links'>
      <h4>Home</h4>
      <li>
        <span class='material-symbols-outlined'>dashboard</span>
        <a href='/about'>About</a>
      </li>
      <li>
        <span class='material-symbols-outlined'>share</span>
        <a href='/contacts'>Contacts</a>
      </li>
      <hr />
      <h4>Categories</h4>
      <li>
        <span class='material-symbols-outlined'>church</span>
        <a href='/cultureSpots'>Culture Spots</a>
      </li>
      <li>
        <span class='material-symbols-outlined'>fastfood</span>
        <a href='/fooddrinkSpots'>Food and Drink Spots</a>
      </li>
      <li>
        <span class='material-symbols-outlined'>water_lux</span>
        <a href='/leisureSpots'>Leisure Spots</a>
      </li>
      <hr />
      <h4>My Account</h4>
      <li>
        <span class='material-symbols-outlined'>person</span>
        <a href='/profile'>My Profile</a>
      </li>
      <li>
        <span class='material-symbols-outlined'>person_add</span>
        <a href='/auth/signup'>Signup</a>
      </li>
      <li>
        <span class='material-symbols-outlined'>login</span>
        <a href='/auth/login'>Login</a>
      </li>
      <li class='logout-link'>
        <span class='material-symbols-outlined'>logout</span>
        <a href='/auth/logout'>Logout</a>
      </li>
    </ul>
  </aside>
  {{! Content of Contacts }}
  <h2>Contacts</h2>
  <br />
  <h3>The Team</h3>
  <br />
  <div class='container mt-4'>
    <div class='contacts-card'>
      <div class='card' style='width: 18rem'>
        <img class='card-img-top' src='/images/rita.jpg' alt='Rita Saraiva' />
        <div class='card-body'>
          <h5 class='card-title'>Rita Saraiva</h5>
          <p><i>Web Developer</i></p>
          <a href='https://www.linkedin.com/in/rita-saraiva/'><i
              class='fa-brands fa-linkedin'
            ></i>
            Connect on LinkedIn</a><br />
          <a href='https://github.com/saraiva-rita'><i
              class='fa-brands fa-github'
            ></i>
            Check my work</a>
        </div>
      </div>
      <div class='card' style='width: 18rem'>
        <img class='card-img-top' src='/images/bruno.jpeg' alt='Bruno Cunha' />
        <div class='card-body'>
          <h5 class='card-title'>Bruno Cunha</h5>
          <p><i>Web Developer</i></p>
          <a href='https://www.linkedin.com/in/brunorcunha3000/'><i
              class='fa-brands fa-linkedin'
            ></i>
            Connect on LinkedIn</a><br />
          <a href='https://github.com/brcunha3000'><i
              class='fa-brands fa-github'
            ></i>
            Check my work</a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <a href='/index'>Return to main menu</a>
</div>