<div id='spots-cards'>
  <nav class='main-navbar'>
     <div>
        <h2>Hack Afterhours</h2>
        <ul>
          <li>
            <a href='/auth/signup'>Signup here</a>
          </li>
          <li>
            <a href='/auth/login'>Login here</a>
          </li>
          <li>
            <a href='/profile'>My Profile</a>
          </li>
          <li>
            <a href='/about'>About</a>
          </li>
        </ul>
      </div>   
  </nav>
  <br />
  <div class='card' style='width: 18rem;'>
    <img src='...' class='card-img-top' alt='...' />
    <div class='card-body'>
      <h5 class='card-title'>Culture Spots</h5>
      <a href='/cultureSpots'>See More</a>
    </div>
  </div>
  <div class='card' style='width: 18rem;'>
    <img src='...' class='card-img-top' alt='...' />
    <div class='card-body'>
      <h5 class='card-title'>Food and Drink</h5>
      <a href='/fooddrinkSpots'>See More</a>
    </div>
  </div>
  <div class='card' style='width: 18rem;'>
    <img src='...' class='card-img-top' alt='...' />
    <div class='card-body'>
      <h5 class='card-title'>Leisure Spots</h5>
       <a href='/leisureSpots'>See More</a>
    </div>
  </div>