<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<br />
<a href='/auth/signup'>Signup here</a>
<a href='/auth/login'>Login here</a>
<a href='/profile'>My Profile</a>
<br />
<br />
<a href='/cultureSpots'>See our favourite Culture Spots</a>
<br />
<a href='/fooddrinkSpots'>See our favourite Food'N'Drinks Spots</a>
<br />
<a href='/leisureSpots'>See our favourite Leisure Spots</a>
<br />