<div id='spots-cards' class="wrapper">
  {{!-- Spots Cards --}}
  <div id="main-cards">
    <div class='card'>
    <a href='/cultureSpots'><img src='../images/attractions.jpg' class='card-img-top' alt='...' /></a>   
    <div class='card-body'>
      <h5 class='card-title'>Culture Spots</h5>
      <a class="button" href='/cultureSpots'>See More</a>
    </div>
  </div>
  <div class='card'>
    <a href='/fooddrinkSpots'><img src='../images/foodNdrink.jpg' class='card-img-top' alt='...' /></a>
    <div class='card-body'>
      <h5 class='card-title'>Food and Drink</h5>
      <a class="button" href='/fooddrinkSpots'>See More</a>
    </div>
  </div>
  <div class='card'>
    <a href='/leisureSpots'><img src='../images/tours.jpg' class='card-img-top' alt='...' /></a>
    <div class='card-body'>
      <h5 class='card-title'>Leisure Spots</h5>
       <a class="button" href='/leisureSpots'>See More</a>
    </div>    
  </div>  
</div>