<h1>HACK AFTERHOURS</h1>

<br />
<a href='/auth/signup'>Signup here</a>
<a href='/auth/login'>Login here</a>
<a href='/profile'>My Profile</a>
<br />
<br />
<a href='/cultureSpots'>Culture Spots</a>
<br />
<a href='/fooddrinkSpots'>Food'N'Drinks Spots</a>
<br />
<a href='/leisureSpots'>Leisure Spots</a>
<br />