<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<a href='/cultureSpots'>See our favourite Culture Spots</a>
<br />
<a href='/fooddrinkSpots'>See our favourite Food'N'Drinks Spots</a>
<br />
<a href='/leisureSpots'>See our favourite Leisure Spots</a>
<br />