{{!-- Side Navbar --}}
<div id='spots-cards' class="wrapper">
  <aside class="sidebar">
      <div class="logo">
        <img src="/images/ironhack-symbol.png" alt="logo">
        <h2>Hack AfterHours</h2>
      </div>
      <ul class="links">
        <h4>Home</h4>
        <li>
          <span class="material-symbols-outlined">dashboard</span>
          <a href="/about">About</a>
        </li>
        <li>
          <span class="material-symbols-outlined">share</span>
          <a href="/contacts">Contacts</a>
        </li>
        <hr>
        <h4>Categories</h4>
        <li>
          <span class="material-symbols-outlined">church</span>
          <a href="/cultureSpots">Culture Spots</a>
        </li>
        <li>
          <span class="material-symbols-outlined">fastfood</span>
          <a href="/fooddrinkSpots">Food and Drink Spots</a>
        </li>
        <li>
          <span class="material-symbols-outlined">water_lux</span>
          <a href="/leisureSpots">Leisure Spots</a>
        </li>
        <hr>
        <h4>My Account</h4>
        <li>
          <span class="material-symbols-outlined">person</span>
          <a href="/profile">My Profile</a>
        </li>
        <li>
          <span class="material-symbols-outlined">person_add</span>
          <a href="/auth/signup">Signup</a>
        </li>
        <li>
          <span class="material-symbols-outlined">login</span>
          <a href="/auth/login">Login</a>
        </li>
        <li class="logout-link">
          <span class="material-symbols-outlined">logout</span>
          <a href="/auth/logout">Logout</a>
        </li>
      </ul>
    </aside>
  <br />

  <div class="spots-question">
    <h2>What do you feel like doing?</h2>
  </div>
  
  {{!-- Spots Cards --}}
  <div id="main-cards">
    <div class='card'>
    <a href='/cultureSpots'><img src='../images/foodNdrink.jpg' class='card-img-top' alt='...' /></a>   
    <div class='card-body'>
      <h5 class='card-title'>Culture Spots</h5>
      <a class="button" href='/cultureSpots'>See More</a>
    </div>
  </div>
  <div class='card'>
    <a href='/fooddrinkSpots'><img src='../images/foodNdrink.jpg' class='card-img-top' alt='...' /></a>
    <div class='card-body'>
      <h5 class='card-title'>Food and Drink</h5>
      <a class="button" href='/fooddrinkSpots'>See More</a>
    </div>
  </div>
  <div class='card'>
    <a href='/leisureSpots'><img src='../images/foodNdrink.jpg' class='card-img-top' alt='...' /></a>
    <div class='card-body'>
      <h5 class='card-title'>Leisure Spots</h5>
       <a class="button" href='/leisureSpots'>See More</a>
    </div>    
  </div>  
</div>