<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{appTitle}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Open+Sans:wght@300;400&family=Poppins:wght@200&display=swap'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css'
    />
  </head>

  <!--Side Navebar-->

  <body>
    <aside class='sidebar'>
    <div class='logo'>
      <a href='/index'><img
          src='/images/ironhack-symbol.png'
          alt='logo'
        /></a><h2>Hack AfterHours</h2>
    </div>
    <ul class='links'>
      <h4>Home</h4>
      <li>
        <span class='material-symbols-outlined'>dashboard</span>
        <a href='/about'>About</a>
      </li>
      <li>
        <span class='material-symbols-outlined'>share</span>
        <a href='/contacts'>Contacts</a>
      </li>
      <hr />
      <h4>Categories</h4>
      <li>
        <span class='material-symbols-outlined'>church</span>
        <a href='/cultureSpots'>Culture Spots</a>
      </li>
      <li>
        <span class='material-symbols-outlined'>fastfood</span>
        <a href='/fooddrinkSpots'>Food and Drink Spots</a>
      </li>
      <li>
        <span class='material-symbols-outlined'>water_lux</span>
        <a href='/leisureSpots'>Leisure Spots</a>
      </li>
      <hr />
      <h4>My Account</h4>
        
        <li>
          <span class='material-symbols-outlined'>person</span>
          <a href='/profile'>My Profile</a>
        </li>
        
          <li>
            <span class='material-symbols-outlined'>person_add</span>
            <a href='/auth/signup'>Signup</a>
          </li>
          <li>
            <span class='material-symbols-outlined'>login</span>
            <a href='/auth/login'>Login</a>
          </li>
          <li class='logout-link'>
            <span class='material-symbols-outlined'>logout</span>
            <a href='/auth/logout'>Logout</a>
          </li>
        
    </ul>
  </aside>

    {{{body}}}

    <script src='/js/script.js'></script>
  </body>

</html>