* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #6a88a9;
  color: #e6ebf1;
}

a {
  text-decoration: none;
  list-style: none;
}

.wrapper {
  padding: 40px 40px 40px 130px;
}

.button {
  text-align: center;
  padding: 7px 30px;
  color: #333;
  background-color: #e6ebf1;
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: bold;
}
.button:hover {
  background-color: #cdd7e2;
  cursor: pointer;
}

/* LANDING PAGE */
.button-transparency {
  background-color: transparent;
  border-color: #fff;
  border-width: 2px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
.button-transparency:hover {
  background-color: rgba(230, 235, 241, 0.3);
  color: #cdd7e2;
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

#landing-page {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
}

.back-video {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#button-music-on-off {
  background-image: url(https://i.ibb.co/BBYZvy0/music-on-off.png);
  background-size: contain;
  opacity: 0.6;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: none;
  position: absolute;
  cursor: pointer;
  margin: 5px;
}

.landing-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing-content p {
  color: #fff;
}

/* SIDE NAVBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(17px);
  --webkit-backdrop-filter: blur(100px);
  transition: width 0.3s ease;
}
.sidebar:hover {
  width: 260px;
}
.sidebar h2 {
  color: #333;
}
.sidebar .logo {
  color: #000;
  display: flex;
  align-items: center;
  padding: 25px 10px 15px;
}
.logo img {
  width: 43px;
  border-radius: 50%;
}
.logo h2 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-left: 15px;
  display: none;
}
.sidebar:hover .logo h2 {
  display: block;
}
.sidebar .links {
  list-style: none;
  margin-top: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  height: calc(100% - 140px);
}
.sidebar .links::-webkit-scrollbar {
  display: none;
}
.links li {
  display: flex;
  border-radius: 4px;
  align-items: center;
}
.links li:hover {
  cursor: pointer;
  background: #fff;
}
.links h4 {
  color: #222;
  font-weight: 500;
  display: none;
  margin-bottom: 10px;
}
.sidebar:hover .links h4 {
  display: block;
}
.links hr {
  margin: 10px 8px;
  border: 1px solid #4c4c4c;
}
.sidebar:hover .links hr {
  border-color: transparent;
}
.links li span {
  padding: 12px 10px;
}
.links li a {
  padding: 10px;
  color: #000;
  display: none;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
}
.sidebar:hover .links li a {
  display: block;
}
.links .logout-link {
  margin-top: 20px;
}

/* SPOT CARDS */
.spots-question h2 {
  color: #e6ebf1;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin: 60px;
}
h5 {
  color: #e6ebf1;
  font-size: 20px;
}

#main-cards {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.card-img-top {
  max-width: 399px;
  border-radius: 10px;
  border: 1px solid #cdd7e2;
}
.card-img-top:hover {
  opacity: 0.8;
}
.card-body {
  text-align: center;
}
.card-title {
  margin: 20px;
  font-size: 20#e6ebf1;
}

/* SPOT LIST */
.list-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.each-spot {
  display: flex;
  flex-direction: column;
  border: 1px solid #cdd7e2;
  border-radius: 5px;
  width: 300px;
  background-color: #839cb8;
  color: #333;
}
.each-spot h3,
p {
  padding: 10px;
}

.each-spot img {
  border-radius: 5px;
  padding-bottom: 10px;
  height: 210px;
}

/* DETAIL SPOT */
.fav-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: rgba(255, 0, 0, 0.679);
}
.fav-button:hover {
  cursor: pointer;
}

/* LOGIN MENU */
#login-form {
  /* alterar para uma caixa */
}
#login-form label {
  padding: 30px;
  font-size: 20px;
}
#login-form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
#login-form h2 {
  padding-bottom: 30px;
}

/* Contacts */
.contacts-card {
  display: flex;
  justify-content: center;
}

.contacts-card .card {
  border: 2px solid #101010;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  transition: transform 0.3s;
}

.contacts-card .card:hover {
  transform: scale(1.05); /* Apply zoom effect on hover */
}

.contacts-card .card-body {
  padding: 1.25rem;
}

.contacts-card .card-img-top {
  height: 500px;
  object-fit: cover;
}

.contacts-card p {
  font-size: 10px;
  font-weight: bold;
}
