<div class='spot-list wrapper'>
  {{! Content list }}
  <h2 class='h2-titles'>Culture</h2>
  <br />
  <div class='list-content'>
    {{#each cultureSpots}}
      <div class='each-spot'>
        <img src='{{imgUrl}}' alt='' />
        <div class='each-spot-info'>
          <h3>{{name}}</h3>
          <hr />
          <p>{{miniDescription}}</p>
        </div>
        <div class='button-list'>
          <form action='/cultureSpots/{{_id}}/' method='get'>
            <button class='button'>See more</button>
          </form>
        </div>
      </div>
    {{/each}}
    <br />
  </div>

</div>