<div class='spot-list wrapper'>
  {{! Content list }}
  <h2>Culture</h2>
  <br />
  <div class='list-content'>
    {{#each cultureSpots}}
      <div class='each-spot'>
        <img src='{{imgUrl}}' alt='' />
        <div>
          <h3>{{name}}</h3>
          <hr />
          <p>{{miniDescription}}</p>
        </div>
        <div class="button-list">
          <form action='/cultureSpots/{{_id}}/' method='get'>
            <button class='button'>See more</button>
          </form>
        </div>
      </div>
    {{/each}}
    <br />
  </div>

  <a href='/index'>Return to main menu</a>

</div>