<aside class='sidebar'>
  <div class='logo'>
    <img src='/images/ironhack-symbol.png' alt='logo' />
    <h2>Hack AfterHours</h2>
  </div>
  <ul class='links'>
    <h4>Home</h4>
    <li>
      <span class='material-symbols-outlined'>dashboard</span>
      <a href='/about'>About</a>
    </li>
    <li>
      <span class='material-symbols-outlined'>share</span>
      <a href='/contacts'>Contacts</a>
    </li>
    <hr />
    <h4>Categories</h4>
    <li>
      <span class='material-symbols-outlined'>church</span>
      <a href='/cultureSpots'>Culture Spots</a>
    </li>
    <li>
      <span class='material-symbols-outlined'>fastfood</span>
      <a href='/fooddrinkSpots'>Food and Drink Spots</a>
    </li>
    <li>
      <span class='material-symbols-outlined'>water_lux</span>
      <a href='/leisureSpots'>Leisure Spots</a>
    </li>
    <hr />
    <h4>My Account</h4>
    <li>
      <span class='material-symbols-outlined'>person</span>
      <a href='/profile'>My Profile</a>
    </li>
    <li>
      <span class='material-symbols-outlined'>person_add</span>
      <a href='/auth/signup'>Signup</a>
    </li>
    <li>
      <span class='material-symbols-outlined'>login</span>
      <a href='/auth/login'>Login</a>
    </li>
    <li class='logout-link'>
      <span class='material-symbols-outlined'>logout</span>
      <a href='/auth/logout'>Logout</a>
    </li>
  </ul>
</aside>

<div id='spots-list'>
  <h2>Leisure</h2>
  {{#each leisureSpots}}
    <div>
      <h3>{{name}}</h3>
      <p>{{miniDescription}}</p>

      <form action='/leisureSpots/{{_id}}/' method='get'>
        <button>See more</button>
      </form>
    </div>
  {{/each}}

</div>
<br />
<a href='/index'>Return to main menu</a>