<div class='spots-list wrapper'>
  {{! Content list }}
  <h2>Leisure</h2>
  <br />
  <div class='list-content'>
    {{#each leisureSpots}}
      <div class='each-spot'>
        <img src='{{imgUrl}}' alt='' />
        <div>
          <h3>{{name}}</h3>
          <hr />
          <p>{{miniDescription}}</p>
        </div>
        <div class="button-list">
          <form action='/leisureSpots/{{_id}}/' method='get'>
            <button class='button'>See more</button>
          </form>
        </div>
      </div>
    {{/each}}

  </div>
  
  <br />
  <a href='/index'>Return to main menu</a>

</div>