<div class='spot-list wrapper'>
   {{! Content list }}
  <h2>Food and Drinks</h2>
  <br />
  <div class='list-content'>
    {{#each fooddrinkSpots}}
      <div class='each-spot'>
        <img src='{{imgUrl}}' alt='' />
        <div>
          <h3>{{name}}</h3>
          <hr />
          <p>{{miniDescription}}</p>
        </div>
        <div class="button-list">
          <form action='/fooddrinkSpots/{{_id}}/' method='get'>
            <button class='button'>See more</button>
          </form>
        </div>
      </div>
    {{/each}}

  </div>

</div>