<h1>Food'N'Drinks</h1>
{{#each fooddrinkSpots}}
    <div>
        <h3>{{name}}</h3>

        <form action="/fooddrink/{{_id}}/" method="get">
            <button>See more</button>
        </form>
    </div>
{{/each}}

<br>   
<a href="/">Return to main menu</a>